{{- if (.Param "ShowBreadCrumbs") -}}
<nav class="breadcrumbs" aria-label="Breadcrumb">
    {{- $url := replace .Parent.Permalink (printf "%s" site.Home.Permalink) "" }}
    {{- $lang_url := strings.TrimPrefix (printf "%s/" .Lang) $url -}}

    <a href="{{ "" | absLangURL }}" class="text-primary-600 dark:text-primary-400 hover:underline">{{ i18n "home" | default "Home" }}</a>
    {{- $scratch := newScratch }}
    {{- range $index, $element := split $lang_url "/" }}

    {{- $scratch.Add "path" (printf "%s/" $element )}}
    {{- $bc_pg := site.GetPage ($scratch.Get "path") -}}

    {{- if (and ($bc_pg) (gt (len . ) 0))}}
    <span class="separator mx-2">/</span><a href="{{ $bc_pg.Permalink }}" class="text-primary-600 dark:text-primary-400 hover:underline">{{ $bc_pg.Name }}</a>
    {{- end }}

    {{- end -}}
</nav>
{{- end -}}
